<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Added As Administrator</title>
	
	<!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	
	<!-- Lyve Custom CSS -->
	<link rel="stylesheet" href="styles/green-theme.css">
	
</head>

<body>
	<div class="container">
		<div class="row align-items-center justify-content-md-center "><!-- align-items-center-->
				<div class="col-sm col-md-auto">
					<div class="email-center">
							<div class="email-logo">
								<img src="images/Logo-regular.png" alt="Lyve Logo">
							</div><!--logo-->
						
							<h2>Administrator</h2>
							<p>Hi <span class="email-user">Muhammad Yazid Bin Mohamed Kamil!</span></p>
						
							<p>You've been added as an admin to mkube, please setup your password using your CLI with the following command.</p>
							<p><code>./{{.CliCommand}} set-password {{.Token}}</code></p>
						
							<button type="button" class="btn btn-warning seagate" style="margin-bottom: 20px">Copy Command</button>
						
							<p class="email-note">If you need more information, please contact <span class="email-helpdesk">lyveservice.support@seagate.com</span></p>
						</div><!--email-center-->
				</div><!--col-->
			
			
			
			
		</div><!--row-->
	</div><!--container-->
	
	
	
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
