@charset "UTF-8";
/* CSS Document */




.services h3 {
	font-size:41px;
	font-weight: bold;
	margin-top: -14px;
}
.email-center h2 {
	font-weight:bold;
	font-size:35px;
	margin-bottom: 20px;
}

span.email-user {
	font-size:16px;
	color: #232323;
	font-weight: bold
}
span.email-helpdesk { 
	color: #232323;
	font-weight: bold
}
p.open-greetings {
	font-size:16px;
	color: #232323;
}
p.email-content {
	font-size:15px;
	color: #565656;
}
p.email-note {
	font-size:15px;
	color: #909090;
	font-style: italic;
}

/*Images*/
.email-logo {
	margin-bottom:80px;
}
/*Buttons*/
.btn {
	border-radius:22px;
}
.btn.btn-link.green {
	padding:0px;
	color: #6ebe49;
	font-size:16px;
	font-weight: bold;
	margin-bottom:20px
}
.btn.btn-link.yellow {
	padding:0px;
	color: #E2C41E;
	font-size:15px;
	font-weight: bold;
	margin-bottom:20px
}

.btn.btn-success.seagate {
	padding:7px 20px;
	color: white;
	font-size:16px;
	font-weight: bold;
	margin-bottom:20px;
	border-radius:22px;
	background-color:#6ebe49;
	margin:20px 0px 10px 0px;
}
.btn.btn-warning.seagate {
	padding:7px 20px;
	color: #565656;
	font-size:16px;
	font-weight: bold;
	margin-bottom:20px;
	border-radius:22px;
	margin:20px 0px 10px 0px;
}

/*Background*/
.email-highlighted {
	background-color: #242424;
	padding:15px;
}
.email-highlighted img { 
}
.email-highlighted p {
	color: white;
	font-size: 14px;
}



/*Container*/
.email-center {
	text-align:center;
}
